.appearance {
    display: flex;
    margin: auto;
    box-shadow: 1px 3px 1em 0 #dadce0;
    border: 1px solid #dadce0;
    padding: 10px;
    width: 250px;
    border-radius: 6px
}

.form {
    display: flex;
    flex-direction: column
}

.title {
    margin-bottom: 50px
}

.button {
    margin-top: 25px
}

.content {
    width: 250px
}