.content {
    max-width: 250px;
    white-space: pre-wrap;
    word-break: break-all;
}

.appearance {
    padding: 20px;
    max-width: 250px;
    border-radius: 8px;
}

.note {
    min-width: 250px;
    max-width: 250px;
}